.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EEE;
}

.header .title-group {
    padding-left: 50px;
}

.header .title-group i {
    padding-right: 5px;
}