.sidenav {
    background-color: #444;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}
