<div class="mat-elevation-z8">
    <mat-card>
        <form class="find" action="">

            <mat-form-field>
                <input matInput [(ngModel)]="placa" name="placa" placeholder="Faça sua busca pela placa do veículo">
            </mat-form-field>
            <button mat-raised-button (click)="findByPlaca()">
                Buscar
            </button>

        </form>
    </mat-card>

    <table mat-table [dataSource]="veiculos">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let veiculo">{{ veiculo.id }}</td>
        </ng-container>

        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef>Placa do veículo</th>
            <td mat-cell *matCellDef="let veiculo">{{ veiculo.placa }}</td>
        </ng-container>

        <ng-container matColumnDef="cor">
            <th mat-header-cell *matHeaderCellDef>Cor</th>
            <td mat-cell *matCellDef="let veiculo">{{ veiculo.cor }}</td>
        </ng-container>

        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let veiculo">{{ veiculo.modelo }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoVeiculo">
            <th mat-header-cell *matHeaderCellDef>Categoria de veículo</th>
            <td mat-cell *matCellDef="let veiculo">{{ veiculo.tipoVeiculo.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <a routerLink="/veiculos/adicionar" class="add">
                    <i class="material-icons">add</i>
                    <i class="material-icons">drive_eta</i>
                </a>
            </th>

            <td mat-cell *matCellDef="let veiculo">
                <a routerLink="/veiculos/atualizar/{{ veiculo.id }}" class="edit">
                    <i class="material-icons">edit</i>
                </a>

                <a routerLink="/veiculos/remover/{{ veiculo.id }}" class="delete">
                    <i class="material-icons">delete</i>
                </a>
            </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let veiculo; columns: displayedColumns;"></tr>
    </table>
</div>


